body {
  margin: 0;
  padding: 0;
  font-family: "DM Sans", sans-serif;
}
.annoucement {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  margin: -4px 0 0 0vw;
  color: white;
  padding: 0 1.3rem;
}
.annoucement a,
.annoucement .material-symbols-outlined {
  color: red;
  cursor: pointer;
}
.anp {
  font-size: clamp(14px, 1.4vw, 21px);
}
.menus {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 11.5vw;
  padding: 1vh 0 3vh 1vw;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
  background: white;
  z-index: 100;
}
.menu2 {
  display: none;
}
.menus .container {
  padding: 0 0 4vh 0;
}
.menus img {
  margin: 0 0 3vh 0;
}

.menus .h1 {
  font-weight: 500;
  opacity: 0.4;
  font-size: clamp(14px, 1vw, 1.05vw);
  margin-bottom: 2.5vh;
}
.menus .Con,
.menus .Con1 {
  color: black;
  font-weight: 400;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  padding: 1.6vh 0 1.6vh 1vw;
  margin-top: 1vh;
  column-gap: 1.2rem;
  border-radius: 9px;
  width: 87%;
  cursor: pointer;
}
.menus .Con1 {
  color: white;
  background: rgb(3, 201, 215);
}
.menus .Con:hover {
  background: rgb(0, 0, 0, 0.05);
  padding: 1.6vh 0 1.6vh 1vw;
  border-radius: 9px;
}
a {
  text-decoration: none;
  color: transparent;
}
.menus .p,
.menus .material-symbols-outlined {
  margin: 0;
  padding: 0;
}

.menus::-webkit-scrollbar {
  background: rgb(250, 251, 251);
  width: 10px;
}
.mshadow {
  display: none;
}
.menus::-webkit-scrollbar-thumb {
  border-radius: 16px;
  background: rgb(0, 0, 0, 0.3);
}
.dashboard {
  background: rgb(250, 251, 251);
  padding: 0.5vh 0 1vh 2vw;
  margin: 0 0 0 12.5vw;
  width: 84.5vw;
}
.dashboard2 {
  margin: 0;
  width: 96.7vw;
}
.fix {
  position: sticky;
  top: 0;
  /* background: red; */
  width: 100%;
}

.topnav {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  color: rgb(0, 0, 0, 0.5);
  cursor: pointer;
}
.first,
.second {
  display: flex;
  align-items: center;
  z-index: 50;
}

.first .material-symbols-outlined {
  padding: 0.5rem;
}
.second .shop {
  padding: 0.5rem;
}
.topmenus {
  display: flex;
  padding: 0.5rem;
}
.first .material-symbols-outlined:hover,
.topmenus:hover,
.second .shop:hover {
  background: rgb(0, 0, 0, 0.05);
  border-radius: 50%;
}

.topmenus .sup {
  background: rgb(3, 201, 215);
  height: 8px;
  width: 0.5rem;
  border-radius: 50%;
}
.topmenus #sup2 {
  background: rgb(251, 150, 120);
}
.profile {
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
}
.profile .avatar {
  width: 15%;
  border-radius: 50%;
  padding: 0 0.5rem 0 0.5rem;
}
.profile:hover {
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0.05) 55%,
    rgb(255, 255, 255)
  );
  border-radius: 10px;
}

.search {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 99vw;
  display: none;
}

.search .container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.4);
  padding: 1.3vh 2rem 1.3vh 2rem;
  column-gap: 0.5rem;
  color: rgb(0, 0, 0, 0.5);
}
.search .input {
  width: 100%;
  height: 2.3rem;
  border-radius: 5px;
  border: 0.5px solid rgb(0, 0, 0, 0.3);
}
.search .input:focus {
  outline: 2px solid rgb(3, 201, 215);
  border: none;
}
.search .input::placeholder {
  font-size: 1rem;
  padding-left: 0.6rem;
}
.search .close {
  cursor: pointer;
}
.shadow {
  height: 95vh;
  background: rgb(0, 0, 0, 0.4);
}
.popup {
  background: white;
  border-radius: 8px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.05);
  position: fixed;
  top: 9vh;
  right: 2vw;
  width: clamp(337px, 22vw, 330px);
  display: none;
}
.popup2 {
  display: block;
  padding: 1vh 1.5rem;
}
.hold1,
.notifications,
.chats {
  display: none;
}
.hold12,
.notifications2,
.chats2 {
  display: block;
}
.popup .span,
.popup .span2 {
  background: rgb(254, 201, 15);
  color: white;
  padding: 5px 10px;
  width: fit-content;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.875rem;
  margin-left: 8px;
}
.popup .span2 {
  background: rgb(251, 150, 120);
}
.popup .h3 {
  font-weight: 500;
  font-size: 1.125rem;
}
.profile2 .container {
  padding: 0;
}
.profile2,
.profile2 .section,
.profile3 {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding-bottom: 3vh;
}
.profile3 {
  padding: 20px 0 20px 1.3rem;
}
.profile2Container .profile3:nth-child(3) {
  border-bottom: none;
}
.profile3 .sup {
  background: rgb(0, 194, 153);
  height: 8px;
  width: 0.5rem;
  display: flex;
  align-self: start;
  border-radius: 50%;
  margin: 0 0 0 -1rem;
}
.profile2 .avatar,
.profile3 .avatar {
  border-radius: 50%;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.2);
}
.profile3 .avatar {
  width: 15%;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.1);
}

.profile2 .h3,
.profile2 .p,
.profile3 .p,
.profile3 .h3 {
  margin: 0;
  font-weight: 500;
  font-size: 1.125rem;
}
.profile3 .container .h3 {
  font-size: 1rem;
  font-weight: 500;
}
.profile3 .h3 {
  font-size: 1rem;
}
.profile2 .p,
.profile3 .p {
  color: rgb(119, 126, 137);
  margin: 0.35rem 0 0.25rem 0;
  font-weight: 400;
  font-size: 0.875rem;
}

.profile2 .section {
  column-gap: 0.4rem;
  color: rgb(119, 126, 137);
  border-bottom: none;
  padding-bottom: 0;
}
.profile3 .prices,
.profile3 .inbox,
.profile3 .task {
  background: rgb(229, 250, 251);
  color: rgb(3, 201, 219);
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
}
.profile3 .inbox {
  background: rgb(235, 250, 242);
  color: rgb(29, 201, 158);
}
.profile3 .task {
  background: rgb(253, 243, 245);
  color: rgb(229, 110, 122);
}
.popup .button {
  background: rgb(3, 201, 215);
  color: white;
  text-align: center;
  padding: 10px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 0.975rem;
  margin: 14px 0;
  font-weight: 400;
}
.profile3:hover,
.popup .button:hover {
  cursor: pointer;
  background: rgb(0, 0, 0, 0.03);
}
.popup .button:hover {
  background: rgb(18, 201, 225);
}
.main {
  padding: 0;
  margin: 0 15%;
  width: 70%;
}
.analyticsContainer {
  padding: 0 0 0 1vw;
  display: grid;
  grid-template-columns: repeat(1, 38% 22% 30%);
  column-gap: 3.5%;
  padding: 29px 0;
  width: 100%;
}
.analytic {
  display: flex;
  justify-content: space-between;
  padding: 0vh 1rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.07);
  cursor: pointer;
}
.analytic .h4 {
  font-size: 1.125rem;
  font-weight: 500;
  margin: 20px 0;
}
.analytic .h2 {
  font-size: 1.875rem;
  font-weight: 500;
  margin: 15px 0 4px 0;
}
.analytic .section1 {
  margin: 50px 0 0 0;
}
.analytic .button {
  font-size: 15px;
  font-weight: 400;
  color: white;
  background: rgb(251, 150, 120);
  padding: 10px 16px;
  border-radius: 5px;
  border: none;
  margin: 8px 0 40px 0;
  cursor: pointer;
}
.analytic .h6 {
  font-size: 0.975rem;
  font-weight: 400;
  color: rgb(0, 0, 0, 0.5);
  margin: 0;
}
.analytic .img {
  margin: 0 0 0 0;
  width: 40%;
}
.analytic .material-symbols-outlined {
  margin: 20px 0 0 0;
  padding: 16px 1rem;
  border-radius: 50%;
  background: rgb(3, 201, 215);
  align-self: start;
  color: white;
}
.analytic .money {
  background: rgb(251, 150, 120);
}
.charts {
  display: grid;
  grid-template-columns: repeat(1, 63.5% 30%);
  column-gap: 3.5%;
}
.Chart {
  box-shadow: 0 0 20px rgb(0, 0, 0, 0.08);
  padding: 64px 1rem 0 1rem;
  border-radius: 15px;
}
.Chart .h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.3125rem;
}
#myChart {
  margin: 0 0 10px 10px;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  font-weight: 400;
  font-size: 0.875rem;
}

.circle {
  background: yellow;
  border-radius: 50%;
  height: 8px;
  width: 0.5rem;
  background: rgb(3, 201, 215);
}
.chartcon1,
.chartcon2 {
  background: rgb(3, 201, 215);
  padding: 24px 1rem;
  color: white;
  margin-top: 24px;
  border-radius: 20px;
}
.chartcon2 {
  background: rgb(251, 150, 120);
  margin: 24px 0 24px 0;
}
.chart2,
.h2 {
  margin: 0;
  font-weight: 400;
  font-size: 1.3125rem;
}
#Chart,
#Chart3 {
  margin: -1.3rem 0 -0.8rem -1.2rem;
  border: none;
}

@media all and (max-width: 1560px) {
  .menus {
    width: 16.5vw;
  }

  .menus .Con,
  .menus .Con1 {
    padding: 1.6vh 0 1.6vh 1vw;
  }
  .menus .Con1 {
    color: white;
    background: rgb(3, 201, 215);
  }
  .menus .Con:hover {
    padding: 1.6vh 0 1.6vh 1vw;
  }
  .dashboard {
    margin: 0 0 0 17.5vw;
    width: 79.2vw;
  }
  .dashboard2 {
    margin: 0;
    width: 96.7vw;
  }
  .main {
    margin: 0;
    width: 100%;
  }
}

@media all and (max-width: 1226px) {
  body {
    overflow-x: hidden;
  }
  .annoucement {
    margin: -2vh 0 0 -4vw;
  }
  .body2 {
    height: 100vh;
    overflow-y: hidden;
  }
  .dashboard {
    margin: 0;
    padding: 1.5vh 0 0 4vw;
    width: 96vw;
  }
  .fix {
    margin-left: -4vw;
    padding-left: 4vw;
  }
  .profile {
    width: fit-content;
  }
  .menus {
    width: 256px;
    padding: 2vh 0 3vh 2vw;
    display: none;
  }
  .menus .Con,
  .menus .Con1 {
    padding: 1.6vh 0 1.6vh 2vw;
  }
  .menus .Con:hover {
    padding: 1.6vh 0 1.6vh 2vw;
  }
  .mshadow {
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0, 0.1);
    height: 100vh;
    margin-left: 280px;
    width: 100vw;
  }
  .charts {
    grid-template-columns: repeat(1, 97%);
    column-gap: 0;
  }
  .Chart {
    padding: 14px 1rem 0 1rem;
  }
}
@media all and (max-width: 1024px) {
  .analyticsContainer {
    grid-template-columns: repeat(3, 36% 27% 27%);
  }
  .menus {
    overflow-y: scroll;
  }
}
@media all and (max-width: 810px) {
  .mshadow {
    margin-left: 268px;
  }
  .analyticsContainer {
    grid-template-columns: repeat(2, 46%);
    row-gap: 30px;
  }
  .analyticsContainer .analytic:nth-child(3) {
    padding-bottom: 3rem;
    width: 196.5%;
  }
}
@media all and (min-width: 750px) and (orientation: portrait) {
  .dashboard {
    padding-top: 1vh;
  }
  .menus .container {
    padding: 0 0 2vh 0;
  }
  .menus img {
    margin: 0 0 1.5vh 0;
  }

  .menus .h1 {
    margin-bottom: 1.25vh;
  }
  .menus .Con,
  .menus .Con1 {
    padding: 1vh 0 1vh 1vw;
    margin-top: 0.5vh;
  }
  .popup {
    top: 6vh;
  }
  .profile2 {
    padding-bottom: 1.5vh;
  }
}
@media all and (max-width: 620px) {
  .profile {
    justify-content: center;
  }

  .topnav {
    box-sizing: border-box;
    padding: 0 0vw 0 0vw;
    column-gap: 5rem;
  }
  .profile {
    justify-content: center;
  }
  .profile .avatar {
    width: 34%;
  }
  .profile .p,
  .profile .material-symbols-outlined {
    display: none;
  }
  .profile .material-symbols-outlined {
    display: grid;
  }
  .analyticsContainer {
    grid-template-columns: repeat(1, 95%);
  }
  .analyticsContainer .analytic:nth-child(3) {
    width: 92.5%;
    padding-bottom: 0;
  }
  .analytic .section1 {
    padding-bottom: 2rem;
  }
  .charts {
    grid-template-columns: repeat(1, 95%);
  }
}

@media all and (max-width: 400px) {
  .popup {
    width: 300px;
  }
}
